<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success row ">

                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item mr-5">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Fournisseur"
                                    role="tab" aria-controls="home" aria-selected="true">Ajouter commande </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#favoris" role="tab"
                                    aria-controls="profile" aria-selected="false">Consulter Commande </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Fournisseur" role="tabpanel"
                            aria-labelledby="home-tab">
                            <div class="card-body">

                                <form class="example-form" [formGroup]="commandeForm">
                                    <div class="row ">
                                        <div class="col-md-4">

                                            <mat-form-field appearance="fill">
                                                <mat-label>Name Client</mat-label>
                                                <mat-select formControlName="idClient">
                                                    <mat-option *ngFor="let client of clients" [value]="client._id">
                                                        {{client.nameClient}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <mat-error *ngIf="commandeForm.controls.idClient.hasError('required')">
                                          Produit Fournisseur is required.
                                        </mat-error> -->
                                            </mat-form-field>


                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width ">
                                                <input matInput formControlName="refCommande"
                                                    placeholder=" ref-commande ">
                                                <!-- <mat-error *ngIf="commande.controls.refCommande.hasError('required')">
                                           ref commande is required.
                                        </mat-error> -->
                                            </mat-form-field>
                                        </div>


                                        <div class="col-md-2">
                                            <button type="button" (click)="addNewRow()" class="btn btn-success"><span
                                                    class="material-icons">
                                                    post_add
                                                </span>ADD ligne</button>
                                        </div>

                                    </div>
                                    <div formArrayName="produitRows">
                                        <!-- Check the correct way to iterate your form array -->
                                        <div *ngFor="let produitRow of commandeForm.controls.produitRows.controls; let i=index"
                                            [formGroupName]="i">
                                            <!-- <h4>ligne N  :{{ i + 1 }}</h4> -->
                                            <div class="row mt-5">
                                                <div class="form-group col-3">
                                                    <label> Name Produit</label>

                                                    <mat-select formControlName="id_produit" appearance="fill"
                                                        (selectionChange)="onSelectionChange($event,i)" name="userRole">
                                                        <ngx-mat-select-search [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="searchCtrl" [placeholderLabel]="'Search...'"
                                                            [noEntriesFoundLabel]="'Not found'" name="search">
                                                        </ngx-mat-select-search>
                                                        <mat-option
                                                            *ngFor="let produit of produits |stringFilterBy:searchCtrl:'nameProduit'"
                                                            [value]="produit._id">
                                                            {{produit.nameProduit}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>

                                                <div class="form-group col-2">
                                                    <label>Quantity</label>
                                                    <input type="number" formControlName="qty"
                                                        (ngModelChange)="saverange($event,i)" class="form-control">
                                                </div>
                                                <div class="form-group col-2">
                                                    <label>Prix Unitaire </label>
                                                    <input formControlName="prixVente" class="form-control-plaintext"
                                                        disabled>

                                                </div>
                                                <div class="form-group col-3">
                                                    <label>Montant</label>
                                                    <input formControlName="montant" class="form-control-plaintext"
                                                        disabled>
                                                </div>
                                                <div class="form-group col-2">
                                                    <button mat-icon-button
                                                        *ngIf="commandeForm.controls.produitRows.controls.length"
                                                        (click)="deleteRow(i)" color="warn"><span
                                                            class="material-icons  text-danger">
                                                            delete_forever
                                                        </span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="offset-6 col-3">

                                            <h3> Total : {{total}}</h3>

                                        </div>
                                        <div class="col-3">
                                            <button type="button" (click)="save()" class="btn btn-success"><span
                                                    class="material-icons">
                                                    add
                                                </span>save Commande</button>

                                        </div>

                                    </div>
                                </form>

                                <!-- <p>{{commandeForm.value | json}}</p> -->

                                <div>


                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade show" id="favoris" role="tabpanel" aria-labelledby="home-tab">
                            <app-list-commande></app-list-commande>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>